<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="" method="" class="row g-3">
                    <h4>Bienvenido</h4>
                    <div class="col-12">
                        <label>Usuario</label>
                        <input type="text" id="usuario" class="form-control" placeholder="Usuario">
                    </div>
                    <div class="col-12">
                        <label>Contraseña</label>
                        <input type="password" id="contraseña" class="form-control" placeholder="Contraseña">
                    </div>
                    
                    <div class="row justify-content-evenly mt-4">
                        <div class="col-4">
                            <button (click)=regresarInicio()   class="btn btn-warning float-end">Regresar</button>
                        </div>
                        <div class="col-4">
                            <!--Quitar el click y poner el correspondiente-->
                            <button type="submit" (click)=centros()  class="btn btn-dark float-end">Login</button>
                        </div>
                      </div>
                </form>
                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">¿No tienes una cuenta? <button (click)=registro()   class="btn btn-primary float-end">Registrarse</button> 
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
