<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Direccion</th>
        <th scope="col">Acciones</th>
        
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let centros of centro; index as i">
            <td>{{centros.nombre}}</td>
            <td>{{centros.descripcion}}</td>
            <td>{{centros.direccion}}</td>
            
            <td>
                <button class="btn south-btn" (click)='aceptar(centros.id,centros.nombre,centros.correo,centros.descripcion,centros.direccion)'>Aceptar</button>
                <button class="btn south-btn" (click)='rechazar(centros.id,centros.nombre,centros.correo,centros.descripcion,centros.direccion)'>Rechazar</button>
            </td>
            
        </tr>
    </tbody>
  </table>
